{% extends "base/base.html" %}
{% load static %}
{% block title %}
Flywheel Time
{% endblock %}

{% block signup %}
{% if user == "None" %}
  <li class="nav-item active">
    <a class="nav-link active" href="{% url 'registration' %}">Sign Up<span class="sr-only"></span></a>
  </li>
{% endif %}
{% endblock %}

{% block login %}
{% if user == "None" %}
  <li class="nav-item active">
    <a class="nav-link active" href="{% url 'login' %}">Log In<span class="sr-only"></span></a>
  </li>
{% endif %}
{% endblock %}

{% block user %}
{% if user != "None" %}
  <li class="nav-item active">
    <a class="nav-link active" href="{% url 'profile' %}">{{user}}<span class="sr-only"></span></a>
  </li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <h1 class="display-4">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'registration' %}" role="button">Get started</a>
          </p>
        </div>
      </div>
   </div>
</div>
{% endblock %}