@media (min-width: 280px) and (max-width: 1024px) {
    .modalwin {
        width: 90%;
        background: white;
        border-radius: 15px;
        top: 10%;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index:2;
        display: none;  
        position: fixed;  
    }
}
@media (min-width: 1024px) and (max-width: 3000px) {
    .modalwin {
        width: 50%;
        background: white;
        border-radius: 15px;
        top: 10%;
        right: 0;
        left: 0;
        margin: 0 auto;
        z-index:2;
        display: none;  
        position: fixed;  
    }
}
#shadow { 
    position: fixed;
    width:100%;
    height:100%;
    z-index:1; /* поверх всех  кроме окна*/
    background:#000;
    opacity: 0.5; /*прозрачность*/
    left:0;
    top:0;
}