{% extends "base/base.html" %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block signup %}
{% if user == "None" %}
  <li class="nav-item active">
    <a class="nav-link active" href="{% url 'registration' %}">Sign Up<span class="sr-only"></span></a>
  </li>
{% endif %}
{% endblock %}

{% block login %}
{% if user == "None" %}
  <li class="nav-item active">
    <a class="nav-link active" href="{% url 'login' %}">Log In<span class="sr-only"></span></a>
  </li>
{% endif %}
{% endblock %}

{% block user %}
{% if user != "None" %}
  <li class="nav-item active">
    <a class="nav-link active" href="{% url 'profile' %}">{{user}}<span class="sr-only"></span></a>
  </li>
{% endif %}
{% endblock %}

{% block logout %}
{% if user != "None" %}
  <li class="nav-item active">
    <a class="nav-link active" href="{% url 'logout' %}">Log out<span class="sr-only"></span></a>
  </li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-lg-none text-center mb-3">
        <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ day }}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'monday' %}">Monday</a>
            <a class="dropdown-item" href="{% url 'tuesday' %}">Tuesday</a>
            <a class="dropdown-item" href="{% url 'wednesday' %}">Wednesday</a>
            <a class="dropdown-item" href="{% url 'thursday' %}">Thursday</a>
            <a class="dropdown-item" href="{% url 'friday' %}">Friday</a>
            <a class="dropdown-item" href="{% url 'saturday' %}">Saturday</a>
            <a class="dropdown-item" href="{% url 'sunday' %}">Sunday</a>
    </div>
</div>
    </div>
   <div class="row">
        <div class="d-none d-lg-flex col-lg-2">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item"><a href="{% url 'monday' %}">Monday</a></li>
                <li class="list-group-item"><a href="{% url 'tuesday' %}">Tuesday</a></li>
                <li class="list-group-item"><a href="{% url 'wednesday' %}">Wednesday</a></li>
                <li class="list-group-item"><a href="{% url 'thursday' %}">Thursday</a></li>
                <li class="list-group-item"><a href="{% url 'friday' %}">Friday</a></li>
                <li class="list-group-item"><a href="{% url 'saturday' %}">Saturday</a></li>
                <li class="list-group-item"><a href="{% url 'sunday' %}">Sunday</a></li>
            </ul>
        </div>
        <div class="col-lg-10">
            <p class="d-none d-lg-flex justify-content-lg-center">
                {{ day }}
            </p>
            <p class="text-center">
                You have {{ empty_time }} hours free time
            </p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: {{ progress }}%;" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
            </div>
            <br>

            {% for case in cases %}
                <div class="mb-3">
                    <div>Case - {{ case.0 }}</div>
                    <div>Case description - {{ case.1 }}</div>
                    <div>Case duration - {{ case.2 }}</div>
                    <div>Case start - {{ case.3 }}</div>
                    <div>Case end - {{ case.4 }}</div>
                </div>
            {% endfor %}

        </div>
   </div>
</div>
{% endblock %}